.title {
  text-align: center;
}


.image-size {
  width: 17rem;
  height: 15rem;
  border-radius: .5rem;
  margin-bottom: 0.5rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: repeat(2, 4rem);
  gap: 8rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(4,400px);
  row-gap: 0rem; 
  column-gap: 0rem; 
  
}

.product-card {
  display: flex;
  align-items: flex-start; 
  justify-content: space-between; 
  flex-direction: column;
  align-items: center; 
  width: 23rem;
  height: 28rem;
  border: 1px solid rgb(206, 205, 205);
  padding: 1rem;
  margin: 0rem;
}

.text-left, .price {
  width: 75%; 
  text-align: left;
  margin-top: 0rem;
  margin-bottom: 4.5rem;
  padding: 0;
  margin-bottom: 4rem;
}

.price {
  font-size: 2rem;
  padding: 0;
  margin-top: -1rem;
  
}

.decimal {
  font-size: 1rem;
  vertical-align: super;
}